extends layout

block content
    
    h1(id="h1")= "Criar gabarito!"
    input(type="text" id="nSchool")
    input(type="text" id="nSubject")
    input(type="text" id="nProf")
    input(type="number" id="nQue")
    input(type="submit" id="submit")
    object(id="img", data="./pdf/gab.pdf", type="application/pdf", width="500" height="800")
    script(src="./javascripts/makepdf.js")
     